<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_library">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_Library"
        android:usesCleartextTraffic="true">
        <activity android:name=".Welcome.Welcome"></activity>
        <activity android:name=".Pinjam_buku.PinjamanSaya" />
        <activity android:name=".Profile.EditProfile" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".VerifikasiOTP" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Notifikasi.Notifikasi" />
        <activity android:name=".Pinjam_buku.PinjamBuku" />
        <activity android:name=".Kategori_buku.DetailBuku" />
        <activity android:name=".Kategori_buku.DetailKategoriBuku" />
        <activity android:name=".Beranda.Beranda" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".SplashSceen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>